p {
  color: red;
  font-size: 2rem; /*2x16(domyslnie) = 32*/
  background-color: gray;
  border: 1px solid blue;
  text-align: center;
}

label {
  color: green;
}

input[type="text"] {
  background-color: yellow;
  border-radius: 3px;
}

input[type="submit"] {
  margin: 1rem;
  padding: 0.3rem 2.5rem;
  border: none;
  background-color: darkcyan;
  color: ivory;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
input[type="submit"]:hover {
  background-color: chocolate;
  cursor: pointer;
  transition-duration: 200ms;
  transform: scale(1.2, 1.2);
  letter-spacing: 0.5rem;
}

input[type="submit"]:active {
  background-color: turquoise;
  color: black;
}
