p {
  color: red;
  font-size: 2rem; /*2x16(domyslnie) = 32*/
  background-color: gray;
  border: 1px solid blue;
  text-align: center;
}

label {
  color: green;
}

input[type="text"] {
  background-color: yellow;
  border-radius: 3px;
}



.file{
  color: black;
  background: lightgray;
}

.file label{
  color: black;
  font-weight: 600;
}

input[type=file]{
	padding: 8px;
	border: 1px solid rgb(124, 124, 124);
	border-radius: 3px;
	margin-top: 5px;
}