p {
  color: red;
  font-size: 2rem; /*2x16(domyslnie) = 32*/
  background-color: gray;
  border: 1px solid blue;
  text-align: center;
}

label {
  color: green;
}

input[type="text"] {
  background-color: yellow;
  border-radius: 3px;
}

textarea {
  text-align: left;
  background-image: url(assets/santa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;


input[type=submit] {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px 30px;
  transition: 0.5s;
}

input[type=submit]:hover {
  color: white;
  background-color: orange;

form{
  width: 300px;
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px;
	border: 10px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 0 12px rgba(0,0,0,0.3);
	background: #eee;
}

.file{
  color: black;
  background: lightgray;
  padding: 5px;
  
}

.file label{
  color: black;
  font-weight: 600;
}

input[type=file]{
	padding: 8px;
	border: 1px solid rgb(124, 124, 124);
	border-radius: 3px;
	margin-top: 5px;
}
.inputfile{
  cursor: pointer;
}