p {
  color: red;
  font-size: 2rem; /*2x16(domyslnie) = 32*/
  background-color: gray;
  border: 1px solid blue;
  text-align: center;
}

label {
  color: green;
}

input[type="text"] {
  background-color: yellow;
  border-radius: 3px;
}

body {
  background: #0f124f;
  background: -webkit-linear-gradient(to left, #a1a5f8, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

input[type="email"] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
input[type="email"]:hover{
  background-color: rgb(174, 169, 169);
  color: rgb(42, 40, 40);
  rotate: 1deg;
  width: 300px;
  height: 40px;
}

textarea {
  text-align: left;
  background-image: url(assets/santa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;


input[type=submit] {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px 30px;
  transition: 0.5s;
}

input[type=submit]:hover {
  color: white;
  background-color: orange;

form{
  width: 300px;
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px;
	border: 10px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 0 12px rgba(0,0,0,0.3);
	background: #eee;
}

.file{
  color: black;
  background: lightgray;
  padding: 5px;
  
}

.file label{
  color: black;
  font-weight: 600;
}

input[type=file]{
	padding: 8px;
	border: 1px solid rgb(124, 124, 124);
	border-radius: 3px;
	margin-top: 5px;
}
.inputfile{
  cursor: pointer;
}
